*.log
*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.python-version
__stdout__
_pydebug.egg
build/
coverage_report/
dist/
examples/*/local/
examples/*/metadata/*.local
docs/_build/
proxypid
MANIFEST
splunk_sdk.egg-info
Test Results*.html
