*.log
*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.python-version
MANIFEST
__stdout__
_pydebug.egg
build/
coverage_report/
dist/
docs/_build/
examples/*/local/
examples/*/metadata/*.local
examples/searchcommands_app/package/bin/packages/splunklib
examples/searchcommands_app/package/default/commands.conf
proxy.log
proxypid
splunk_sdk.egg-info
Test Results*.html
